:local .container {
    background-color: #5253B9;
    height: 60vh;
    border-radius: 5px 0px 0px 5px;
    color: white;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.25);
}

:local .nickUser {
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.09);
    height: 50%;
    text-align: center;
    justify-content: center;
}

:local .infoUser {
    height: 50%;
    font-size: 14px;
    padding: 15px;
}

:local .generalInfoUser {
    padding: 10px 0px 10px 10px;
}