body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
  width: 5px;
  border-radius: 6px;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #5253B9;
  border-radius: 6px;
}