:local .containerCardItems {
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.25);
    height: 70vh;
    padding: 1.5vw;
    max-height: 70vh;
    overflow: auto;
    background-color: white;
}

:local .containerUserBar {
    padding-top: 1.5vw;
}