#Logo {
    font-size: 34px;
}

#Logo h4 {
    color: gray;
    font-weight: 100;
}

#Logo span {
    color: #5253B9;
    font-weight: 400;
}


@media screen and (max-width: 599px) {
    :local .logo {
        text-align: center
    }
}